.git
.github
node_modules
dist
.turbo
.vscode
.cursor
.vault-token
*.env
env
packages/infra/*
!packages/infra/package.json
packages/9router/*
!packages/9router/package.json
packages/openrouter/*
!packages/openrouter/package.json
packages/workstation/*
!packages/workstation/package.json
packages/vault-service
packages/eslint-rules
packages/portfolio/assets
